<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text">I am a full stack web developer with over 15 years experience. Some of the technologies that I use regularly are PHP, MySql, Laravel,
            Symfony, Python, Django, JavaScript, jQuery, AJAX, Vue.js, Knockout.js, HTML, CSS, and SASS. </p>
        <a href=""
           class="btn btn-danger">Read more!</a>
    </div>
</div>
    {% load comments %}
       {% for object in object_list %}
    ...
    {% get_comment_count for object as comment_count %}
    <p class="date">Published {{ object.publish }}
      {% if comment_count %}
      &sdot;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}
      {% endif %}
    </p>
    ...
    {% endfor %}
</div>
